body 
{
	font-size:10pt;
}

.Title
{
	font-size : 11pt;
	margin-top : 1em;
	margin-bottom : 1.4em;
}

.SectionHeader, h2
{
	margin-top : 0.5em;
	border-top : none 0px white;
	border : none none white;
	font-size:11pt;
	font-weight : bold;
}

.Section
{
	border : solid 1px #555555;
	padding : 0 1em 0.5em 1em;
	margin-bottom : 1.5em;
	border-collapse : separate; 
}

.Section p
{
	margin: 0.5em auto 0.8em 1.3em;
}

.Instructions
{
	margin-top : 2em;
	margin-bottom : 0.5em;
	font-style : italic;
}

.ConfirmationKey
{
	font-size: 130%;
	font-weight : bold;
	letter-spacing: 2pt;
}

.Signature 
{
	vertical-align : bottom;
	width : 10cm;
	border-bottom :  dotted 1px #666666;
	padding-top: 0.5em;
	margin-bottom:2em;
	display : block;
	margin-left : 12em;
	position : relative;
}

.DateDigit
{
	color : #DDDDDD;
	border : solid 1px #555555;
	padding : 0.2em 0.2em 0.2em 0.2em;
	font-size : larger;
}

.DateDigitPreFilled
{
	color : black;
	border : solid 1px #555555;
	padding : 0.2em 0.2em 0.2em 0.2em;
	font-size : larger;
}

.Label
{
	width: 12em;
	display: block;
	float: left;
	clear: left;
	font-weight: bold;
	text-align: left;
}

.WideLabel
{
	width: 17em;
	display : block;
	float: left;
	clear: left;
	font-weight: bold;
	text-align : left;
}

.Data
{
	letter-spacing: 1pt;
	display : inline-block;
}

@media print
{
}